body {
	background-image: url("../images/background.gif");
}

a {
	color: #000;
}

a:hover {
	color: #000;
}

h2 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px

	margin-top: 5px;
}
#container {
	margin: auto;
	width: 70%;
}

#content {
	background-color: #000; 
	margin-top: 20px;
	padding: 5px;

}

#title {
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #fff;
	margin: auto;
	border-bottom: solid 5px;
	clear: both;
	padding-bottom: 40px;
	margin-left: 0px;
	width: 70%;
}

#solarSystem{
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #fff;
	margin: auto;
	width: 100%;

}

#QUIZ {
	font-size: 120px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #fff;
	margin: auto;
	width: 100%;
	line-height: 68px;


}

.answers {
	background: #fff;
	margin: 10px;
	padding: 25px 15px 25px 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;

}

#answers_1:hover {

	background-color: #ccc;
}

#answers_1:active {

	background-color:  #8391aa;
}

#answers_1:focused{

	background-color: #8391aa;
}

#answers_2:hover {

	background-color: #ccc;
}
#answers_3:hover {

	background-color: #ccc;
}
#answers_4:hover {

	background-color: #ccc;
}

#questions {
	margin-top: 30px;
	margin: auto;
	margin-left: 0px;
	padding-bottom: 10px;
	font-color: #000;
	border-bottom: #fff solid 5px;
	width: 100%;


}


#nextButton {


	margin: auto;
	margin-right: 0px;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 34px;
	background: #fff;
	color: #000;

}
#nextButton:hover {

	background-color: #ccc;
	font-style: none;

}

#timerFunction {
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	background: #000;

}

#timer{
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	margin-top: 25px;
	margin-left: 0px;
	background: #000;
	width: 40%;
}

#clickBackground1 {
	background: #ccc;
}